*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Black Crayon';
}

body{
    cursor: default;
}

.logo {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Black Crayon';
}

Menu{
    background-attachment: auto;
    background-color: #239dc2;
    background-size: cover;
    height: 92vh;
}

a {
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;  
  }

  a:hover{
    transition: all 0.3s ease;
    color: #57BBBF;
  }

/*sub menu começo*/
:root{
    --cor-primaria : rgb(231, 241,  236);
}

.dp-menu ul{
    list-style-type: none;
}

.dp-menu ul li{
    display: inline; 
}

.dp-menu ul li a{
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition:  .3s;
}

.dp-menu ul li a:hover{
    background-color: var(--cor-hover);
}

/*sub menu*/
.dp-menu ul ul{
    display: none;
    right: 0px;
    position: absolute;
}

.dp-menu ul li:hover ul{
    display: block;
}

.dp-menu ul ul{
    width: 150px;
}

.dp-menu ul ul li a{
    display: block;
}

.more{
    font-size: 30px;
}

.font{
    font-size: 20px;
}

/*sub menu fim*/

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0,3;
}

a:hover {
    opacity: 0,
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 13vh;
}
  
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: rgb(0, 0, 0);
    margin: 8px;
    transition: 0.3s;
}

body {
    text-align: center;
    height: 200%;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #239dc2;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transform: transform 0.3s ease in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translate(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);

}

.mobile-menu.active .line2 {
  opacity: 0;
    
}

.mobile-menu.active .line3 {
 transform: rotate(45deg) translate(5px, 7px);   
} 

footer{
    font-weight: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    position: absolute;
    background: #1D3E40;
    font-size: 20px;
    color: #fff;
}