*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body{
  display: table;
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  background-position: 30% 45%;
  background-size: cover;
  background-image: url("./../img/Fundo.jpeg");
  z-index: -1;
  margin-top: -100px;
}

.nav-list{
  margin-top: 70px;
}

.more{
  margin-top: -50px;
  position: absolute;
  margin-left: -30px;
}

.logo{
  font-size: 30px;
}

a {
  position: relative;
  color: rgb(255, 255, 255);
  text-decoration: none;  
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
  
a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
} 

.container-admin {
  background-color: rgb(255, 255, 255, 0.5);
  width: 400px; /*largura*/
  height: 200px; /*Altura*/
  margin-left: 200px;
  padding: 20px 30px;
  margin-top: 7vh;
  transition: 1s; 
}

.container-admin2 {
  background-color: rgb(255, 255, 255, 0.5);
  width: 400px; /*largura*/
  height: 200px; /*Altura*/
  margin-left: 700px;
  padding: 20px 30px;
  margin-top: -200px;
  position: absolute;
  transition: 1s; 
}

.container-admin3 {
  background-color: rgb(255, 255, 255, 0.5);
  width: 400px; /*largura*/
  height: 200px; /*Altura*/
  margin-left: 200px;
  padding: 20px 30px;
  margin-top: 50px;
  position: absolute;
  transition: 1s; 
}

.container-admin4 {
  background-color: rgb(255, 255, 255, 0.5);
  width: 400px; /*largura*/
  height: 200px; /*Altura*/
  margin-left: 700px;
  padding: 20px 30px;
  margin-top: 50px;
  position: absolute;
  transition: 1s; 
}

.container-admin4 {
  background-color: rgb(255, 255, 255, 0.5);
  width: 400px; /*largura*/
  height: 200px; /*Altura*/
  margin-left: 700px;
  padding: 20px 30px;
  margin-top: 50px;
  position: absolute;
  transition: 1s; 
}

.container-admin5 {
  background-color: rgb(255, 255, 255, 0.5);
  width: 400px; /*largura*/
  height: 200px; /*Altura*/
  margin-left: 700px;
  padding: 20px 30px;
  margin-top: 300px;
  position: absolute;
  transition: 1s; 
}

.container-admin6 {
  background-color: rgb(255, 255, 255, 0.5);
  width: 400px; /*largura*/
  height: 200px; /*Altura*/
  margin-left: 200px;
  padding: 20px 30px;
  margin-top: 300px;
  position: absolute;
  transition: 1s; 
}

footer{
  margin-top: 550px;
}
